@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
    --night-background: #0f0f22;
    --night-text: lightgray;
    --contrast: #000000b5;
    --accent: #313058;
    --collage-gap: 1.2vmax;
}

body {
    background: var(--night-background);
    color: var(--night-text);
    margin: 0;
    font-family: "Outfit";
}

a {
    cursor: pointer;
    color: var(--night-text);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 0;
}

.content {
    padding: 0;

    .hero {
        padding: 7.6vmin 0;
        width: 400px;
        margin: 0 auto;

        .name {
            display: flex;

            .capital {
                font-family: "Libre+Baskerville";
                font-size: 12em;
                line-height: 0.67em;
                margin-right: 0.04em;
            }

            .rest {
                line-height: 2.8em;

                .first-name {
                    font-size: 3.58em;
                }

                .last-name {
                    line-height: 0.98em;
                    font-size: 6.1em;
                    display: flex;

                    .capital-i {
                        line-height: 1.05em;
                        margin-right: 0.05em;
                        font-family: "Libre+Baskerville";
                    }
                }
            }
        }

        .contact {
            display: flex;
            margin-top: 1em;

            ul {
                li {
                    font-size: 1.4em;
                    margin-bottom: 0.7em;

                    a {
                        display: flex;

                        &:hover span {
                            width: 100%;
                            transition: width 350ms ease-out;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        div {
                            margin: auto 0.5em;

                            span {
                                display: block;
                                background: var(--night-text);
                                width: 0%;
                                height: 2px;
                                left: 0%;
                                top: 100%;
                            }
                        }
                    }
                }
            }

            .portrait {
                width: 100%;
                transform: scaleX(-1);
                mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
            }
        }
    }

    .grid {
        padding: 0;
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;

        a {
            position: relative;
            overflow: hidden;

            &:hover div {
                transform: scale(1.3);
            }

            .projects-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent),
                    url("../assets/content-btn/projects.jpg");
            }

            .dancing-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent),
                    url("../assets/content-btn/dancing.jpg");
            }

            .my-cat-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent),
                    url("../assets/content-btn/my-cat.jpg");
            }

            .personal-life-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent),
                    url("../assets/content-btn/personal-life.jpg");
            }

            div {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                transition: transform 0.4s ease;
                max-height: 100%;
                max-width: 100%;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
                font-size: 2.4em;
                z-index: 900;
            }
        }
    }
}

.collage {
    padding: 0;

    .square {
        padding: var(--collage-gap);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

        ul {
            padding: 0.5em;
            list-style-type: "• ";
        }

        div {
            &:hover {
                transform: scale(1.05);
            }
            transition: transform 0.4s ease;

            padding: calc(0.3em + 0.9vw);
            margin: var(--collage-gap);
            border-radius: 2vw;
            background-color: var(--accent);
            font-size: calc(1em + 0.25vw);
            text-align: justify;

            h2 {
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: 2em;
            }
        }

        p {
            &:hover {
                transform: scale(1.05);
            }
            transition: transform 0.4s ease;

            margin: var(--collage-gap);

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 2vw;
            }
        }

        .c1 {
            grid-column: span 1;
        }

        .c2 {
            grid-column: span 2;
        }

        .r1 {
            grid-row: span 1;
        }

        .r2 {
            grid-row: span 2;
        }
    }

    .projects {
        grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));

        .project {
            &:hover {
                transform: scale(1.03);
            }
            transition: transform 0.4s ease;

            padding: 0.9vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            aspect-ratio: 1;
            margin: var(--collage-gap);
            border-radius: 2vw;
            background-color: var(--accent);

            p {
                &:hover {
                    transform: none;
                }
            }

            div {
                padding: 0;
                margin: 1em;
                padding-bottom: 125px;
                grid-column: span 2;
                grid-row: span 1;
                position: relative;

                &:hover {
                    transform: none;
                }

                h2 {
                    margin-top: 0;
                    margin-bottom: 0.5em;

                    span {
                        text-align: right;
                        float: right;
                        font-size: 0.8em;
                        font-weight: normal;
                        display: block;
                    }
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                display: block;
                width: 100%;
                position: absolute;
                height: 125px;
                bottom: 0;
                display: flex;
                flex-direction: column;

                li {
                    list-style-type: none;
                    display: flex;
                    width: 100%;
                    height: 50px;
                    margin-top: auto;

                    a {
                        display: flex;

                        &:hover span {
                            width: 100%;
                            transition: width 350ms ease-out;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        dt {
                            margin: auto 0.5em;

                            span {
                                display: block;
                                background: var(--night-text);
                                width: 0%;
                                height: 2px;
                                left: 0%;
                                top: 100%;
                                transition: width 350ms ease-out;
                            }
                        }
                    }
                }

                .lang {
                    position: absolute;
                    right: 0;
                    top: 75%;
                    transform: translateY(-50%);
                }
            }
        }

        p {
            aspect-ratio: 1;
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

.to-top {
    cursor: pointer;
    display: none;
    width: calc(50px + 2.3vmin);
    aspect-ratio: 1;
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    z-index: 999;
}

@media only screen and (min-width: 1080px) {
    .content {
        height: 100vh;

        .hero {
            display: flex;
            width: 1000px;

            .name {
                margin: auto 3em;
            }

            .contact {
                margin: 0 3em 0 0;

                ul {
                    margin: auto 1em auto 0;
                }
            }
        }

        .grid {
            position: absolute;
            bottom: 0;
            grid-template-columns: auto auto auto auto;
        }
    }
}

@media only screen and (max-width: 1820px) {
    .collage .square .project {
        aspect-ratio: unset;
        display: block;
    }
}

@media only screen and (max-width: 1246px) {
    .collage .square .c2 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .collage .square .r1 {
        aspect-ratio: 1;
    }

    .collage .projects .project {
        display: block;
    }
}

@media only screen and (max-width: 838px) {
    .collage {
        .square {
            .c2 {
                aspect-ratio: 1;
            }
            .r2 {
                aspect-ratio: 1;
            }
            .c1 {
                aspect-ratio: unset;
            }
        }

        .projects {
            grid-template-columns: auto;

            .project {
                div span {
                    width: 100%;
                }
                .lang {
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .content .hero {
        width: 360px;
        font-size: 0.8em;
    }

    .collage .square {
        padding: 0;
    }
}
