@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
    --night-background: #0f0f22;
    --night-text: lightgray;
    --contrast: #000000b5;
    --accent: #313058;
    --collage-gap: 1.2vmax;
}

body {
    background: var(--night-background);
    color: var(--night-text);
    margin: 0;
    font-family: "Outfit";
}

a {
    cursor: pointer;
    color: var(--night-text);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 0;
}

.hero {
    padding: 7.6vmin 0;
    width: 400px;
    margin: 0 auto;

    .name {
        display: flex;

        .capital {
            font-family: "Libre+Baskerville";
            font-size: 12em;
            line-height: 0.67em;
            margin-right: 0.04em;
        }

        .rest {
            line-height: 2.8em;

            .first-name {
                font-size: 3.58em;
            }

            .last-name {
                line-height: 0.98em;
                font-size: 6.1em;
                display: flex;

                .capital-i {
                    line-height: 1.05em;
                    margin-right: 0.05em;
                    font-family: "Libre+Baskerville";
                }
            }
        }
    }

    .contact {
        display: flex;
        margin-top: 1em;

        ul {
            li {
                font-size: 1.4em;
                margin-bottom: 0.7em;

                a {
                    display: flex;

                    &:hover span {
                        width: 100%;
                        transition: width 350ms ease-out;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    div {
                        margin: auto 0.5em;

                        span {
                            display: block;
                            background: var(--night-text);
                            width: 0%;
                            height: 2px;
                            left: 0%;
                            top: 100%;
                            transition: width 350ms ease-out;
                        }
                    }
                }
            }
        }

        .portrait {
            width: 100%;
            transform: scaleX(-1);
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
        }
    }
}

.content {
    padding: 0;
    margin-top: 0.2em;
    height: 500px;
    width: 100%;

    .content-grid {
        padding: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;

        a {
            position: relative;
            overflow: hidden;

            &:hover div {
                transform: scale(1.3);
            }

            .projects-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent), url("../assets/content-btn/projects.jpg");
            }

            .dancing-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent), url("../assets/content-btn/dancing.jpg");
            }

            .my-cat-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent), url("../assets/content-btn/my-cat.jpg");
            }

            .personal-life-img {
                background-image: radial-gradient(ellipse at right, var(--contrast), transparent),
                    radial-gradient(ellipse at left, var(--contrast), transparent), url("../assets/content-btn/personal-life.jpg");
            }

            div {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                transition: transform 0.4s ease;
                max-height: 100%;
                max-width: 100%;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
                font-size: 2.4em;
                z-index: 900;
            }
        }
    }
}

.collage {
    padding: 0;

    .square {
        padding: var(--collage-gap);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: repeat(auto, 1fr);

        ul {
            padding: 0.5em;
            list-style-type: "• ";
        }

        div {
            padding: 1em;
            margin: var(--collage-gap);
            border-radius: 2vw;
            background-color: var(--accent);
            font-size: calc(1.9em - 0.5vw);
            text-align: justify;

            h2 {
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: 2em;
            }
        }

        .project {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            aspect-ratio: 1;
            padding: 1em;
            margin: var(--collage-gap);
            border-radius: 2vw;
            background-color: var(--accent);

            div {
                padding: 0;
                margin: 1em;
                grid-column: span 2;
                grid-row: span 1;
                position: relative;

                h2 {
                    margin-top: 0;
                    margin-bottom: 0.5em;

                    span {
                        text-align: right;
                        float: right;
                        font-size: 0.8em;
                        font-weight: normal;
                        display: block;
                    }
                }

                li {
                    list-style-type: none;
                    display: flex;
                    width: 100%;
                    position: absolute;
                    height: 50px;
                    bottom: 0;

                    a {
                        display: flex;

                        &:hover span {
                            width: 100%;
                            transition: width 350ms ease-out;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        dt {
                            margin: auto 0.5em;

                            span {
                                display: block;
                                background: var(--night-text);
                                width: 0%;
                                height: 2px;
                                left: 0%;
                                top: 100%;
                                transition: width 350ms ease-out;
                            }
                        }
                    }

                    .lang {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            p {
                aspect-ratio: 1;
                grid-column: span 1;
                grid-row: span 1;
            }
        }

        p {
            margin: var(--collage-gap);

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 2vw;
            }
        }

        .c1 {
            grid-column: span 1;
        }

        .c2 {
            grid-column: span 2;
        }

        .r1 {
            grid-row: span 1;
        }

        .r2 {
            grid-row: span 2;
        }
    }
}